{% extends 'layout.html' %}

{% block body %}

<script language="JavaScript" type="text/javascript" src=" {{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script>
function makerequest() {
    $.ajax(
{
        url: '/volume',
        success: function(response) {
                if((document.getElementById("a").getAttribute('value') != response ||
                document.getElementById("c").getAttribute('value') != response) && response != '')
                {
                    document.getElementById("a").setAttribute('value', response);
                    document.getElementById("c").setAttribute('value', response);
                }
                setTimeout(makerequest, 100);
        }
    });
}
  window.onload = function(){
  makerequest();
}
</script>

<div id="indexContent">
	<p align="center"><a href="/"><img src="/static/gdis.png"></a></p>
        <p align="center"><label>&nbsp;</label></p>

        </td><td>
        <form action="/input" method="post">
            <select class="select" name="input" onChange="this.form.submit();">
                <option value="" disabled selected >Input Select &nbsp; &nbsp; {{ input }}</option>
                <option value="S1">SPDIF-1</option>
                <option value="S2">SPDIF-2</option>
                <option value="i2s">USB/Streamer/Analog</option>
                <option value="auto">AUTO SELECT</option>
            </select>
        </form>
        </td></tr></table> &nbsp;

        </td><td>
        <form action="/test" method="post" >
           <select class="select" name="test" onChange="this.form.submit();">
                <option value="" disabled selected >DAC Tools</option>
                <option value="net">Network Test</option>
                <option value="channel">Channel Check</option>
                <option value="phase">Phase Check</option>
                <option value="sysupdate">System Update</option>
            </select>
        </form>
        </td></tr></table>

         <p align="center"><label>&nbsp;</label></p>
         <form method="POST" action="volume2">
            <input class="number" style="background-color:#000000;color:#ffffcc;width:110px" id="c" name="c" type="number" value='{{ vol }}' min="0" max="99" placeholder='{{ vol }}' onChange="this.form.submit();">
         </form> &nbsp;
         <form method="POST" action="volume">
         <p align="center"><input style="width:250px" value='{{ vol }}' type="range" id="a" name="a" min="0" max="100" oninput="c.value=a.value" onChange="this.form.submit();">
         </form>

        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a href="{{ url_for('prev') }}"><button class="button" style="height:50px;width:50px"><<</button></a>
         &nbsp; <a href="{{ url_for('play') }}"><button class="button" style="height:50px;width:50px">></button></a>
         &nbsp; <a href="{{ url_for('stop') }}"><button class="button" style="height:50px;width:50px">&#9632;</button></a>
         &nbsp; <a href="{{ url_for('next') }}"><button class="button" style="height:50px;width:50px">>></button></a></p>
        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a href="{{ url_for('power') }}"><img src="/static/power.png"></img></a></p>
        <p align="center"><font color="gray">GDis Smartdac  ver 1.1</font>
    </form>
  </div>
{% endblock %}
